# ==============================================
#   PATH FOR DATA
# ==============================================
DATA_SAVE=.data

# ==============================================
#   BASE (Environments)
# ==============================================
S6OVERLAY_VERSION=1.21.0.2
S6_BEHAVIOUR_IF_STAGE2_FAILS=1
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
LANGUAGE=en_US.UTF-8
TERM=xterm

# ==============================================
#  OPTIONAL ARGUMENTS
# ==============================================

